/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.dropdown {
    cursor: pointer;
}

.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}


/* Page Sections */

.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #e1e1e1;
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}


/* Service Page Styles */

.service-icon {
    font-size: 50px;
}


/* 404 Page Styles */

.error-404 {
    font-size: 8em;
}


/* Pricing Page Styles */

.price {
    font-size: 4em;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.price-month {
    font-size: 35%;
    font-style: italic;
}

.logo {
    padding-top: 5px;
}

.bars {
    margin-top: 11px;
}

.active {
    color: white!important;
}

.padding-top {
    padding-top: 20px;
}

.productImage {
    min-height: 210px;
}

.productImage img {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 10px;
    position: absolute;
    left: 30px;
    bottom: 0;
}

.description p {
    display: -webkit-box;
    max-width: 400px;
    height: 54.6px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    display: -webkit-box;
    max-width: 200px;
    margin: 0 auto;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product {
    height: 312px;
    padding: 10px;
    border-style: dashed;
    border-width: 1px;
    border-color: #efefef;
    overflow: hidden;
}

.product-list {
    list-style: none;
    padding: 0px;
}

.product-list li {
    display: inline;
}

.page-select {
    padding: 20px 0 0 40px;
    float: left;
}

.centered-container {
    margin: 0 auto;
    display: table;
}

.text-colored a {
    color: #f3a025;
}


/* Footer Styles */

footer {
    margin: 50px 0;
}


/* Responsive Styles */

@media (max-width: 767px) {
    .carousel {
        height: 70%;
        /* increases the carousel height so it looks good on phones */
    }
    .logo {
        padding-left: 10px;
    }
}


/* override bootstrap */

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #f3a025;
    border-color: #f3a025;
}

.pagination>li>a,
.pagination>li>span {
    color: #000;
}

.input-group-addon:first-child {
    background-color: #f3a025;
}
