<!-- Page Content -->
<div class="container padding-top" ng-controller="searchCtrl">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6 pull-right">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search Products" aria-describedby="sizing-addon2" ng-model="searchTerm" ng-change="searchChanged()">
                </div>
            </div>
        </div>
    </div>
    <div class="row padding-top" ng-show="promiseMonitor.isPending()">
        <div class="col-sm-12 text-center">
            <h3><i class="fa fa-circle-o-notch fa-spin"></i> Loading...</h3>
        </div>
    </div>
    <div class="row" ng-hide="promiseMonitor.isPending()">
        <div class="col-sm-12">
            <ul class="product-list">
                <li class="product col-md-3 col-sm-4 col-xs-6" data-ng-repeat="product in products" ng-init="products = []">
                    <div class="row product text-center panel panel-default">
                        <div class="col-sm-12 productImage">
                            <img ng-src="{{::product.product.photo}}" />
                        </div>
                        <h4>{{::product.product.name}}</h4>
                        <div class="col-sm-12 title">
                            <em>{{::product.brand.name }}</em>
                        </div>
                        <div class="col-sm-12" ng-if="product.product.pkgHeight && product.product.pkgWidth">
                            <small>{{::product.product.pkgHeight }} x {{::product.product.pkgWidth }} x {{::product.product.pkgLength }} ({{::product.product.pkgDmnsnUom }}) @ {{::product.product.pkgWeight }} ({{::product.product.pkgWeightUom }})</small>
                        </div>
                        <!-- <div class="col-sm-12">
                        
                    </div>
                    <div class="col-sm-12 description">
                        <p ng-bind-html="product.product.fulltechDesc | descriptionFilter"></p>
                    </div> -->
                    </div>
                </li>
            </ul>
            <span ng-if="products.length == 0">No products matched your search...</span>
        </div>
    </div>
    <div class="row padding-top" ng-show="pageManager.numberOfPages > 1" data-pagination="search()" data-manager="pageManager" data-monitor="promiseMonitor">
    </div>
</div>
